@import url('./style/cabeçalho.css');
@import url('./style/footer.css');
@import url('./style/imagemPrincipal.css');
@import url('./style/nossosDestaques.css');
@import url('./style/diferenciaisDaPadaria.css');

body{
    margin: 0;
    background-color: #FDEBD3;
}


.botaoVisiteNos{
    text-decoration: none;
    background-color: #CC750C;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.botaoVisiteNos a{
    color:inherit;
    text-decoration: none;
    color: #fff;
}