/* CÓDIGO DOS NOSSOS DESTAQUES */
.destaques{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.linhaSeparacao{
    border-top: solid 1px #C98A2E;
    width: 200px;
    align-self: center;
}

.produtosDoDestaque{
    width: 100%;
}
.gradeDeProdutosDestaques{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}
.gradeDeProdutosDestaques .opcaoDestaque{
    width: calc((100% - (12px * 2)) / 3);
    box-sizing: border-box; 
    background-color: #fff;
    margin:15px auto;
    border-radius: 15px;
}
.opcaoDestaque{
    border-radius: 15px;
}
.opcaoDestaque img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.containerDosDestacados{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 3px;
}